.commento-root .commento-submit-button {
    background: #495057;
}
.commento-root .commento-round-check input[type="checkbox"]:checked + label::before, .commento-root .commento-round-check input[type="radio"]:checked + label::before {
    background: #495057;
    border: 1px solid #5a6066;
}