---
layout: page
---
<script src="https://cdn.commento.io/js/count.js"></script>
<div class="post">
  <header class="post-header">
    <p class="meta">
        {{ page.date | date: "%b %-d, %Y" }}
        {% if page.author %} • {{ page.author }}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
        •
        {% for category in page.tags %}<span><a href="http://macoso.blur.tech/category/#{{ category }}" class="reserved">{{ category }}</a>{% if forloop.last != true %},{% endif %}</span>{% endfor %}
        •
        <a href="http://macoso.blur.tech{{ post.url }}#commento"></a>
    </p>
  </header>

  <article class="post-content" itemprop="articleBody">
  {{ content }}
  </article>

	<p class="feed-recomendation">
		Понравился пост? Подпишитесь на <a href="http://macoso.blur.tech/feed/">новостную ленту</a> и будьте счастливы!!
	</p>

  {% include disqus.html %}

</div>
